body{
	background-color: #12110F;
	margin-top:-40px;
}
p{
	text-indent: 2em;
}
.page-header{
	height: 550px;
	width: 100%;
	background:#04353C url(https://github.com/srhe/srhe.github.io/blob/master/img/a%252Fimages%252F2017%252F6%252F29%252F%E6%AD%BB%E7%81%B52.jpg?raw=true) no-repeat -280px 0px;
}
.bg{
	margin-left: 55px;
	margin-top: -10px;
}
.div_img{
	height:50px;
	background:transparent url(https://github.com/srhe/srhe.github.io/blob/master/img/1%252Fnav%252Fnav-icon.png?raw=true) no-repeat;
	background-position: center;
	margin-top: -58px;
}
.media-body{
	color: #999999;
}
.media{
	background-color: #12110F;
}
.row{
	background-color:#12110F;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.text-center{
	/*font-size: 65px;*/
}
.page-feeter{
	background: url(https://github.com/srhe/srhe.github.io/blob/master/img/1%252Fv1%252Fnews%252Fheader-bg.jpg?raw=true);
	height: 195px;
	margin-top: -20px;
}
.context{
	margin-top: 20px;
}
.img_s{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
li{
	display: block;
}
.thumbnail{
	background-color: transparent;
	border-style: none;
}
.thumbnail:hover{
	border-color: #2F6DA2;
	border-style: solid;
}
