body,html{
	margin: 0px auto;
	padding: 0px auto;
	font-family: "微软雅黑";
	font-size: 20px;
	background-color: #2A6D97;
	text-align: center;
	margin-top:80px;

	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.title{
	text-align: center;
}
.form-control{
	width: 200px;
	background-color: transparent;
	border: none;
	color: #228DFF;
}
.form-control:hover{
	background-color: #00C7FD;
}
button{
	width: 100px;
	height: 30px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: #053960;
	border-color: #0D86A8;
	color: #00C7FD;
}
button:hover{
	width: 100px;
	height: 30px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: #01C3FF;
	border-color: #16AEE9;
	color: #F4FFF1;
}
p{
	color:#228DFF;
	transition: all 0.5s;
	text-decoration:none; 
	-webkit-animation: neon2 1s ease-in-out infinite alternate;
	-moz-animation: neon2 1s ease-in-out infinite alternate;
	animation: neon2 1s ease-in-out infinite alternate;
}
.form-group{
	text-align: center;
	box-shadow: 0px 0px 20px #228DFF;
	width: 300px;
	height: 35px;
	margin-left: 530px;
	color: #228DFF;
}
@-webkit-keyframes neon2 {
	from {
		text-shadow: 0 0 10px #fff,
		0 0 20px  #fff,
		0 0 30px  #fff,
		0 0 40px  #228DFF,
		0 0 70px  #228DFF,
		0 0 80px  #228DFF,
		0 0 100px #228DFF,
		0 0 150px #228DFF;
	}
	to {
		text-shadow: 0 0 5px #fff,
		0 0 10px #fff,
		0 0 15px #fff,
		0 0 20px #228DFF,
		0 0 35px #228DFF,
		0 0 40px #228DFF,
		0 0 50px #228DFF,
		0 0 75px #228DFF;
	}
}
@-moz-keyframes neon2 {
	from {
		text-shadow: 0 0 10px #fff,
		0 0 20px  #fff,
		0 0 30px  #fff,
		0 0 40px  #228DFF,
		0 0 70px  #228DFF,
		0 0 80px  #228DFF,
		0 0 100px #228DFF,
		0 0 150px #228DFF;
	}
	to {
		text-shadow: 0 0 5px #fff,
		0 0 10px #fff,
		0 0 15px #fff,
		0 0 20px #228DFF,
		0 0 35px #228DFF,
		0 0 40px #228DFF,
		0 0 50px #228DFF,
		0 0 75px #228DFF;
	}
}
@keyframes neon2 {
	from {
		text-shadow: 0 0 10px #fff,
		0 0 20px  #fff,
		0 0 30px  #fff,
		0 0 40px  #228DFF,
		0 0 70px  #228DFF,
		0 0 80px  #228DFF,
		0 0 100px #228DFF,
		0 0 150px #228DFF;
	}
	to {
		text-shadow: 0 0 5px #fff,
		0 0 10px #fff,
		0 0 15px #fff,
		0 0 20px #228DFF,
		0 0 35px #228DFF,
		0 0 40px #228DFF,
		0 0 50px #228DFF,
		0 0 75px #228DFF;
	}
}
@media (max-width: 650px) {
	#container{
		width: 100%;
	}